* {
    box-sizing: border-box;
}

.text{
    margin: 0px;
    font-family: Haettenschwei;
    color: rgb(51, 44, 43);
    font-size: x-large;
}
.Main-Layout{
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 500px;
}
#text-1{
    margin-top: 0px;
}
#header-1{
    margin-bottom: 0px;
}
#image-1{
    margin-top: 0px;
}
.Main-Layout-1{
    background-color: rgb(131, 93, 11);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 500px;
}
.Main-Layout-2{
    background-color: rgb(252, 235, 200);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 500px;
}
#text-2{
    background-color: blanchedalmond;
    border-radius: 30%;
}
#text-3{
    background-color: rgb(255, 255, 255);
    border-radius: 30%;
}