* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-column-flex{
    display: flex;
    width: 80%;
    min-width: 600px;
    max-width: 1000px;
    margin: auto;
}
#sidebar{
    list-style-type: none;
    position: sticky;
    width: 250px;
    order: 2;
    margin-top: 24px;
    padding: 0px, 16px;
}
