* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url("../images/hero-1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#hero-1 h2{
    color: bisque;
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 5%;
}

#hero-1 h4{
    color: bisque;
    font-size: 30px;
    position: absolute;
    top: 20%;
    left: 8%;
}

#hero-1 a{
    color: rgb(48, 32, 13);
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left:20%;
}

#hero-2 {
    background-image: url("../images/hero-2.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#hero-2 h2{
    color: rgb(13, 107, 248);
    font-size: 50px;
}

#hero-2 h4{
    color: rgb(13, 107, 248);
    font-size: 30px;
}

#hero-2 a{
    color: rgb(48, 32, 13);
    background-color: rgb(13, 107, 248);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

#hero-2 #hero-content {
    position: absolute;
    top: 15%;
    left: 50%;
    text-align: center;
}

#hero-3 {
    background-image: url("../images/hero-3.jpg");
    height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#hero-3 h2{
    color: rgb(255, 195, 127);
    font-size: 50px;
}

#hero-3 h4{
    color: rgb(255, 195, 127);
    font-size: 30px;
    font-style: italic;
}

#hero-3 a{
    text-decoration: none;
    color: rgb(42, 120, 126);
    background-color: rgb(255, 195, 127);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

#hero-3 #hero-content {
    position: absolute;
    top: 20%;
    right: 10%;
    text-align: center;
    margin: 10px 0px;
}