* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

body {
    background-image: url("/projects/restaurant/images/steel.jpg");
    background-size: cover;
    min-width: 300px;
}

#navbar {
    background: linear-gradient(
        to bottom,
        #31263E,
        #524363
    );
    display: flex;
    align-items: center;
}

#navbar a {
    padding: 24px;
    display: inline-block;
    text-decoration: none;
    color: #F2F4F3;
}

#navbar a:hover {
    background-color: #7A7E82;
}

#navbar #logo {
    margin-right: auto;
    font-size: 36px;
    font-weight: bold;
    padding-top: 13px;
    padding-bottom: 12px;
}

#dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5,
        visibility 0.5s;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #31263E;
    width: 100%;
    min-width: 200px;
}

#semi-header {
    text-align: center;
    background-color: #c5c6c7;
    padding: 5px;
}

#menu-grid {
    text-align: center;
    color: #F2F4F3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    border: solid 10px #F2F4F3;
    padding: 24px;
    object-fit: cover;
    background-color:#524363;
}

#menu-grid img {
    height: 250px;
    width: 300px;
    border: #F2F4F3 5px solid;
    border-radius: 12px;
    flex: 1;
    object-fit: cover;;
}

#hero {
    z-index: -1;
    background-image: url("/projects/restaurant/images/sushi.jpg");
    height: 50vh;
    background-position: right center;
    text-align: center;
    position: relative;
}

#hero a {
    text-decoration: none;
    color: #F2F4F3;
    font-weight: bold;
    background-color: #524363;
    padding: 12px;
    border-radius: 12px;
    position: absolute;
    bottom: 36px;
}

#images img{  
    width: 600px;
    height: 600px;
    border: 10px solid #524363;
    border-radius: 12px;
    object-fit: cover;
    margin-right: 24px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}
    
#images {
    margin: 36px;
    text-align: center;
}

#menu-name {
    text-align: center;
    color:  #524363;
    font-size: 30px;
}