* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(
        to bottom,
        #109ce8,
        #0e5b96
    );
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    padding: 24px;
    text-decoration: none;
    color: white;
}

#navbar #logo {
    margin-right: auto;
    font-size: 36px;
    font-weight: bold;
    padding-top: 13px;
    padding-bottom: 12px;
}

#navbar a:hover {
    background: linear-gradient(
        to top,
        #17a4f0,
        #0f578f
    );
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5,
        visibility 0.5s;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: darkslateblue;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: slateblue;
}

#pet-hero {
    z-index: -1;
    background-image: url("../images/dog.jpg");
    height: 100vh;
    background-size: cover;
    background-position: left left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}

#pet-hero h1 {
    position: relative;
    left: 12px;
}

#pet-hero a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #0e5b96;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    left: 100px
}
#dog {
    background-image: ;
    background-color: #0f578f;
    padding: 24px;
    margin: 24px;
    text-align: center;
    box-shadow: black inset 12px;
}

#dog h1 {
    font-size: 50px;
    color: beige;
}

#dog p {
    font-size: 20px;
    color: beige;
}

#dog img{
    width: 300px;
}

#dog-3 {
    background-image: ;
    background-color: #0f578f;
    padding: 24px;
    margin: 24px;
    text-align: center;
    box-shadow: black inset 12px;
}

#dog-3 h1 {
    font-size: 50px;
    color: beige;
}

#dog-3 p {
    font-size: 20px;
    color: beige;
}

#dog-3 img{
    width: 300px;
}

#dog-2 {
    background-image: ;
    background-color: #0f578f;
    padding: 24px;
    margin: 24px;
    text-align: center;
    box-shadow: black inset 12px;
}

#dog-2 h1 {
    font-size: 50px;
    color: beige;
}

#dog-2 p {
    font-size: 20px;
    color: beige;
}

#dog-2 img{
    width: 300px;
}